* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}

ul, ol {
	margin: .3em 0;
}

h2, h3, h4, h5, h6 {
    color: rgb(61, 79, 93);
}

article h2, article h3 {
    border-bottom: 1px dashed #89a;
}

#main p {
    text-align: justify;
}

pre {
    font-size: .85em;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

#sidebar header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

#sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}

#sidebar h1 a {
    color: #fff;
}

#header h1, #header h2 {
    margin: .2em 0;
}
#header h1 {
    text-transform: uppercase;
}
#header h2 {
    font-weight: 300;
    color: rgb(176, 202, 219);
}
nav a {
    background: transparent;
    color: #bcf;
    letter-spacing: 0.05em;
    text-decoration: underline;
}
nav a:hover,
nav a:focus {
    text-decoration: none;
}

section.subpages h2 {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
	margin-top: 2.5em;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

#content {
    padding: 2em 1em 0;
}

.post-item {
    margin-bottom: 1.5em;
}
.post-item h3 {
    font-size: 1.5em;
    color: #222;
    margin-bottom: 0.2em;
}
#content header p {
    color: #999;
    font-size: 90%;
    margin: 0;
}

figure {
    margin: 1.5em 15%;
    text-align: center;
}
figure figcaption {
    margin-top: 0.4em;
    font-size: 0.9em;
    font-style: italic;
}

#footer {
    text-align: center;
    padding: 1em 20%;
}
footer {
    color: #999;
    font-size: 80%;
}

@media (min-width: 48em) {
    #content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    #sidebar header {
        margin: 70% 2em 0;
        text-align: right;
        /*padding: 0 1em;*/
    }

    #sidebar {
        position: fixed;
	background-image: url("/images/brainss.png");
	background-size: 120%;
        background-repeat: no-repeat;
        background-position: -35% 5%;
        top: 0;
        bottom: 0;
    }
}
